 @model ErrorViewModel
@{
    ViewData["Title"] = "An Error Occurred!";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@{
    if(ViewData["MessageError"] != null)
    {
        <br />
        <h2 class="text-danger">@ViewData["MessageError"]</h2>
    }
}
