@model Events.IO.Application.ViewModels.EventViewModel

<div class="form-horizontal">

    <input type="hidden" asp-for="Address.EventId" />
    <input type="hidden" asp-for="Address.Id" />
<<<<<<< HEAD
<<<<<<< HEAD
    <input type="hidden" asp-for="Name" />
=======
>>>>>>> TesteApi
=======
    <input type="hidden" asp-for="Name" />
>>>>>>> master

    <div class="form-group">
        <label asp-for="Address.PublicPlace" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.PublicPlace" class="form-control" />
            <span asp-validation-for="Address.PublicPlace" class="text-black danger"></span>
        </div>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> TesteApi
=======

>>>>>>> master
    <div class="form-group">
        <label asp-for="Address.Number" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.Number" class="form-control" />
            <span asp-validation-for="Address.Number" class="text-black danger"></span>
        </div>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> TesteApi
=======

>>>>>>> master
    <div class="form-group">
        <label asp-for="Address.City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.City" class="form-control" />
            <span asp-validation-for="Address.City" class="text-black danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.State" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.Partial("_States")
            <span asp-validation-for="Address.State" class="text-black danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.Neighborhood" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.Neighborhood" class="form-control" />
            <span asp-validation-for="Address.State" class="text-black danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.ZipCode" class="form-control" />
            <span asp-validation-for="Address.ZipCode" class="text-black danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address.Complement" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Address.Complement" class="form-control" />
            <span asp-validation-for="Address.Complement" class="text-black danger"></span>
        </div>
    </div>
</div>
