@model Events.IO.Application.ViewModels.EventViewModel
<div class="model-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Include Address</h4>
</div>

<form asp-action="IncludeAddress">
    <div class="modal-body">
        <div class="form-horizontal">
<<<<<<< HEAD
<<<<<<< HEAD
            <vc:summary />
             
            @Html.Partial("_Address");
             
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update Address" class="btn btn-success" />
=======
            <vc:summary></vc:summary>
=======
            <vc:summary />
>>>>>>> master
             
            @Html.Partial("_Address");
             
                <div class="col-md-offset-2 col-md-10">
<<<<<<< HEAD
                    <input type="submit" value="Include Address" class="btn btn-success" />
>>>>>>> TesteApi
=======
                    <input type="submit" value="Update Address" class="btn btn-success" />
>>>>>>> master
                    <input type="button" class="btn btn-info" value="Close" data-dismiss="modal" />
                </div>
             </div>
        </div>
    </div>
</form>